*{
	margin: 0;
	padding: 0;
}

html{
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body{
	font-size: 100%;
}

:root{
	--menu-item-color: black;
	--font-title: 'Saira Stencil One', cursive;
	--font-text: 'Roboto', sans-serif;
}

.menu{
	position: fixed;
	width: 	100vw;
	height: 55px;
	background: rgb(33, 47, 60, .7);
	display: flex;
	justify-content: center;
	/*border-bottom: 1px solid #ccc;*/
}

.menu-nav__lista{
	display: flex;
	align-items: center;
	list-style: none;
	height: 55px;
}

.menu-nav__lista-item{
	margin: 0 .3em 0 .3em;
}

.menu-nav__lista-item__default{
	text-decoration: none;
	font-size: 1.5em;
	text-shadow: 1px 1px #fff;
	letter-spacing: 1px;
	font-family: var(--font-title);
	color: var(--menu-item-color);
	
}


/*MAIN*/
.wrapper{
	width: 100vw;
	min-height: 100vh;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__perfil{
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__perfil__title{
	margin-top: 1em;
	font-family: var(--font-text);
	font-weight: bolder;
	text-shadow: 1px 1px #fff;
}

.wrapper__perfil__img{
	margin-top: 1em;
	width: 20em;
	border: 1px outset black;
}

.wrapper__perfil__text{
	margin-top: 1em;
	width: 60vw;
	text-align: center;
	font-family: var(--font-text);
}

.wrapper__perfil hr{
	margin-top: 8em;
	width: 80vw;
}



@media only screen and (max-width: 576px) {
	body{
		font-size: 90%
	}

	.wrapper__perfil hr{
		margin-top: 7em;
		width: 80vw;
	}

	.wrapper__perfil__text{
		width: 90vw;
	}

}