*{
	margin: 0;
	padding: 0;
}

html{
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body{
	font-size: 100%;
}

:root{
	--menu-item-color: white;
	--font-title: 'Roboto', sans-serif;
	--font-text: 'Roboto', sans-serif;
	--bg-color-section: linear-gradient(0deg, rgba(105,234,237,1) 0%, rgba(34,124,115,1) 100%);

	/*linear-gradient(0deg, rgba(188,226,246,1) 0%, rgba(105,234,237,1) 8%, rgba(34,124,115,1) 100%);*/
	--border-color-projects: 2px solid black;
}

.menu{
	position: fixed;
	z-index: 10;
	width: 	100vw;
	height: 55px;
	background: rgba(0, 0, 0  ,.35);
	display: flex;
	justify-content: center;
	/*border-bottom: 1px solid #ccc;*/
}

.menu-nav__lista{
	display: flex;
	align-items: center;
	list-style: none;
	height: 55px;
}

.menu-nav__lista-item{
	margin: 0 .3em 0 .3em;
}

.menu-nav__lista-item__default{
	text-decoration: none;
	font-weight: 300;
	font-size: 1.5em;
	letter-spacing: 1px;
	font-family: var(--font-title);
	color: var(--menu-item-color);
	
}


/*MAIN*/
.wrapper{
	width: 100vw;
	min-height: 100vh;
	background: var(--bg-color-section);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__perfil{
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__perfil__title{
	margin-top: 1em;
	font-family: var(--font-text);
	font-weight: 500;
	text-shadow: 1px 1px #000;
	color: black;
	text-shadow: 1px 1px white;
}

.wrapper__perfil__img{
	margin: 1em 0 0 0;
	width: 20em;
	border: 1px outset white;
}

.wrapper__perfil__text{
	margin-top: 1em;
	width: 60vw;
	text-align: center;
	font-family: var(--font-text);
	color: black;
}


.wrapper__perfil hr{
	margin-top: 8em;
	width: 80vw;
}

/*Sobre*/
.wrapper__sobre{
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	width: 100vw;
	border-top: 2px outset #333;
	border-bottom: 2px outset #333; 
}

.wrapper__sobre__title{
	margin-top: 2em;
	font-family: var(--font-text);
	font-weight: bolder;
	text-shadow: 1px 1px #fff;
}

.wrapper__sobre__text{
	margin: 1em 0 1em 0;
	width: 60vw;
	text-align: center;
	font-family: var(--font-text);
}

.wrapper__sobre__text:last-child{
	margin-bottom: 3em;
}

/*PROJETOS*/
.wrapper__projetos{	
	padding-top: 2em;
	background: var(--bg-color-section);
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	position: relative;
	z-index: 9;
}

.wrapper__projetos-box{
	position: relative;
	width: 20em;
	height: 25em;
	background-color: #566573;
	margin: 1em 5em 1em 5em;
	/*border: var(--border-color-projects);*/
	border-radius: 4em 0 4em 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper__projetos-box:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
	z-index: -1;
	padding: 2px;
	top: -2px;
	left: -2px;
	border-radius: 2.5em 0 2.5em 0;
}

.wrapper__projetos-box:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: white;
	z-index: -2;
	padding: 2px;
	top: -2px;
	left: -2px;
	filter: blur(40px);
}

.wrapper__projetos-box h1{
	margin: .25em 0 .25em 0;
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
	font-weight: 100;
	color: white;
}

.wrapper__projetos-box img{
	width: 100%;
	border: 2px solid white;
}

.wrapper__projetos-box p{
	margin: .5em 0 .25em 0;
	font-family: var(--font-text);
	font-weight: 100;
	width: 80%;
	text-align: center;
	color: white;
}



@media only screen and (max-width: 576px) {
	body{
		font-size: 90%
	}

	.wrapper__perfil hr{
		margin-top: 7em;
		width: 80vw;
	}

	.wrapper__perfil__text{
		width: 90vw;
	}

	.wrapper__sobre__text:before{
		content: '\00a0 \00a0 \00a0 \00a0';
	}

	.wrapper__sobre__text{
		width: 90vw;
		text-align: justify;
	}

	.wrapper__projetos-box{
		margin: 0;
	}

}

@media only screen and (min-width: 576px) {
	body{
		font-size: 90%
	}

	.wrapper__perfil hr{
		margin-top: 4em;
		width: 80vw;
	}

	.wrapper__perfil__text{
		width: 90vw;
	}

	.wrapper__sobre__text{
		width: 90vw;
	}
}

@media only screen and (min-width: 992px) {
	body{
		font-size: 100%
	}

	.wrapper__perfil hr{
		margin-top: 8em;
		width: 80vw;
	}

	.wrapper__perfil__text{
		width: 60vw;
	}

	.wrapper__sobre__text{
		width: 60vw;
	}

}